# Intro to Data Science and SQL

data source: [ravelry.com](https://www.ravelry.com/)

data: info on 3000 patterns for hats, sweaters, and hand accessories

In [15]:
import sqlite3
import pandas as pd

# create db
conn = sqlite3.connect("yarn.db")

# import the data files to db
sweater_data = pd.read_csv("sweaters")

sweater_data.to_sql(
    "sweaters",
    conn,
    if_exists="replace"
)

hat_data = pd.read_csv("hats")

hat_data.to_sql(
    "hats",
    conn,
    if_exists="replace"
)

hand_data = pd.read_csv("hands")

hand_data.to_sql(
    "hands",
    conn,
    if_exists="replace"
)

# connect to the db
%sql sqlite:///yarn.db

In [16]:
%sql PRAGMA table_info(hands);

   sqlite://
 * sqlite:///yarn.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Name', 'TEXT', 0, None, 0),
 (2, 'Parent_category', 'TEXT', 0, None, 0),
 (3, 'Craft', 'TEXT', 0, None, 0),
 (4, 'Yarn_weight', 'TEXT', 0, None, 0),
 (5, 'Yardage', 'REAL', 0, None, 0),
 (6, 'Gauge', 'REAL', 0, None, 0),
 (7, 'Price', 'REAL', 0, None, 0),
 (8, 'Currency', 'TEXT', 0, None, 0),
 (9, 'Parent_category_id', 'INTEGER', 0, None, 0)]

In [17]:
%sql SELECT * from sweaters LIMIT 5;

   sqlite://
 * sqlite:///yarn.db
Done.

[(0, 'The Basketweaver Sweater', 'Sweater', 'Knitting', 'DK', 900.0, 20.0, 6.0, 'EUR', 319),
 (1, 'smoking', 'Sweater', 'Knitting', 'DK', 1170.0, 21.0, 6.7, 'EUR', 319),
 (2, 'Carlisle (Saddle)', 'Sweater', 'Knitting', 'Fingering', 1340.0, 25.0, 7.0, 'USD', 319),
 (3, 'Carlisle (Raglan)', 'Sweater', 'Knitting', 'Fingering', 1340.0, 25.0, 7.0, 'USD', 319),
 (4, 'Bohemian Scrapsody', 'Sweater', 'Knitting', 'Aran', 1121.0, 14.0, 9.0, 'CAD', 319)]

In [18]:
%sql SELECT DISTINCT Yarn_weight FROM hats;

   sqlite://
 * sqlite:///yarn.db
Done.

[('Aran',),
 ('Any gauge',),
 ('Bulky',),
 ('DK',),
 ('Worsted',),
 ('Super Bulky',),
 ('Sport',),
 ('Fingering',),
 ('Lace',),
 ('Light Fingering',),
 (None,),
 ('Jumbo',)]