# Intro to Data Science and SQL

data source: [ravelry.com](https://www.ravelry.com/)

data: info on 3000 patterns for hats, sweaters, and hand accessories

# Setup
- enabling extensions
- importing needed libraries
- creating the database from the files
- establishing a connection

In [1]:
%load_ext sql
import sqlite3
import pandas as pd

In [2]:
# create db
conn = sqlite3.connect("yarn.db")

# import the data files to db
sweater_data = pd.read_csv("sweaters")
sweater_data.to_sql(
    "patterns",
    conn,
    if_exists="replace"
)

hat_data = pd.read_csv("hats")
hat_data.to_sql(
    "patterns",
    conn,
    if_exists="append"
)

hand_data = pd.read_csv("hands")
hand_data.to_sql(
    "patterns",
    conn,
    if_exists="append"
)

# connect to db to use SQL directly
%sql sqlite:///yarn.db

# Intro to SQL

## Database structure
- we have three data tables: `sweaters`, `hats`, and `hands`
- each of those tables has 10 columns

In [3]:
# PRAGMA is a way to query non-table data in sqlite
# these kinds of commands differ between database solutions

# check table list
%sql PRAGMA table_list;

 * sqlite:///yarn.db
Done.

[('main', 'patterns', 'table', 10, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [4]:
# check a data table schema
%sql PRAGMA table_info(patterns);

 * sqlite:///yarn.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Name', 'TEXT', 0, None, 0),
 (2, 'Parent_category', 'TEXT', 0, None, 0),
 (3, 'Craft', 'TEXT', 0, None, 0),
 (4, 'Yarn_weight', 'TEXT', 0, None, 0),
 (5, 'Yardage', 'REAL', 0, None, 0),
 (6, 'Gauge', 'REAL', 0, None, 0),
 (7, 'Price', 'REAL', 0, None, 0),
 (8, 'Currency', 'TEXT', 0, None, 0),
 (9, 'Parent_category_id', 'INTEGER', 0, None, 0)]

## Exploring data with SQL
### SELECTing data

In [ ]:
# getting all the data from a table
# this is too much data to display in the notebook
%sql SELECT * FROM patterns;

 * sqlite:///yarn.db
Done.

In [7]:
# limiting the number of results
%sql SELECT * FROM patterns LIMIT 5;

 * sqlite:///yarn.db
Done.

[(0, 'The Basketweaver Sweater', 'Sweater', 'Knitting', 'DK', 900.0, 20.0, 6.0, 'EUR', 319),
 (1, 'smoking', 'Sweater', 'Knitting', 'DK', 1170.0, 21.0, 6.7, 'EUR', 319),
 (2, 'Carlisle (Saddle)', 'Sweater', 'Knitting', 'Fingering', 1340.0, 25.0, 7.0, 'USD', 319),
 (3, 'Carlisle (Raglan)', 'Sweater', 'Knitting', 'Fingering', 1340.0, 25.0, 7.0, 'USD', 319),
 (4, 'Bohemian Scrapsody', 'Sweater', 'Knitting', 'Aran', 1121.0, 14.0, 9.0, 'CAD', 319)]

In [8]:
# selecting specific columns
%sql SELECT Name, Craft FROM patterns LIMIT 5;

 * sqlite:///yarn.db
Done.

[('The Basketweaver Sweater', 'Knitting'),
 ('smoking', 'Knitting'),
 ('Carlisle (Saddle)', 'Knitting'),
 ('Carlisle (Raglan)', 'Knitting'),
 ('Bohemian Scrapsody', 'Knitting')]

In [9]:
# selecting data that meets a specific condition
%sql SELECT * FROM patterns WHERE Craft="Crochet" LIMIT 5;

 * sqlite:///yarn.db
Done.

[(15, 'Button up Cable sweater', 'Sweater', 'Crochet', 'DK', 547.0, 17.0, 4.99, 'USD', 319),
 (36, 'Dewdrops Cardigan', 'Sweater', 'Crochet', 'Worsted', 328.0, 8.0, 5.5, 'USD', 319),
 (41, 'Virkattu PAITAMEKKO', 'Sweater', 'Crochet', 'Aran', 1203.0, 16.0, 5.0, 'EUR', 319),
 (43, 'Whoopa CAL', 'Sweater', 'Crochet', 'Bulky', 875.0, 11.0, 8.5, 'USD', 319),
 (53, 'Festive Scrap Yarn Sweater', 'Sweater', 'Crochet', 'Bulky', 1200.0, 3.5, None, None, 319)]

In [10]:
# selecting data that meets multiple conditions
%sql SELECT * FROM patterns WHERE Price>1 AND PRICE <5 AND Currency="USD" LIMIT 5;

 * sqlite:///yarn.db
Done.

[(15, 'Button up Cable sweater', 'Sweater', 'Crochet', 'DK', 547.0, 17.0, 4.99, 'USD', 319),
 (77, 'Lightweight Cardigan', 'Sweater', 'Knitting', 'DK', 273.0, 22.0, 4.0, 'USD', 319),
 (180, 'Cashmere Cardigan', 'Sweater', 'Crochet', 'DK', 390.0, 18.0, 3.5, 'USD', 319),
 (309, 'Hitofude Cardigan', 'Sweater', 'Knitting', 'Fingering', 730.0, 20.0, 2.0, 'USD', 319),
 (0, 'Hot Dish Hat', 'Hat', 'Knitting', 'Aran', 300.0, 18.0, 4.0, 'USD', 411)]

In [11]:
# selecting distinct values
%sql SELECT DISTINCT Yarn_weight FROM patterns;

 * sqlite:///yarn.db
Done.

[('DK',),
 ('Fingering',),
 ('Aran',),
 ('Sport',),
 (None,),
 ('Worsted',),
 ('Bulky',),
 ('Lace',),
 ('Super Bulky',),
 ('Any gauge',),
 ('Light Fingering',),
 ('Cobweb',),
 ('Jumbo',),
 ('Aran / Worsted',)]

### Aggregate functions

In [12]:
# count the number of rows that match a condition
%sql SELECT COUNT() FROM patterns WHERE Craft="Knitting";

 * sqlite:///yarn.db
Done.

[(2828,)]

In [13]:
# calculate the average over a value
%sql SELECT AVG(Yardage) FROM patterns;

 * sqlite:///yarn.db
Done.

[(460.39073083778965,)]

In [14]:
# count group members
%sql SELECT Parent_category, COUNT() FROM patterns GROUP BY Parent_category;

 * sqlite:///yarn.db
Done.

[('Hands', 996),
 ('Hat', 975),
 ('Neck / Torso', 21),
 ('Other Headwear', 4),
 ('Sweater', 1004)]

In [15]:
# average group members
%sql SELECT Parent_category, AVG(Yardage) FROM patterns GROUP BY Parent_category;

 * sqlite:///yarn.db
Done.

[('Hands', 177.0056179775281),
 ('Hat', 173.22378378378377),
 ('Neck / Torso', 415.4736842105263),
 ('Other Headwear', 120.25),
 ('Sweater', 998.1944157187177)]

# Exploratory data analysis

## Distribution metrics